// ----------------------------------------------------------------------
//  Color palette
//
$palette-white: #fefefe;
$palette-blue: #3498DB;
$palette-black: #34495E;
$palette-dark-black: #2C3E50;
$palette-real-black: #0a0a0a;
$palette-blue-transparent: rgba(52, 152, 219, 0.96);
$palette-black-transparent: rgba(11, 11, 11, 0.8);
$palette-gray: #BDC3C7;