html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.content-home-height {
  height: 500px; }

.content-resume-height {
  height: 4000px; }

.content-science-height {
  height: 1700px; }

.content-development-height {
  height: 1900px; }

.content-contact-height {
  height: 300px; }

html {
  width: 100%;
  height: 100%;
  min-width: 800px; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Pontano Sans', sans-serif;
  color: #0a0a0a;
  background: #fefefe; }

#page-wrapper {
  width: 800px;
  margin: 0 auto;
  overflow: auto; }

h2 {
  font-weight: 100;
  font-size: 2.5em;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center; }

h3 {
  font-weight: 100;
  font-size: 2.0em;
  padding-top: 20px;
  color: #0976e0;
  clear: both; }

h4 {
  font-weight: 100;
  font-size: 2.0em; }

a:link, a:visited {
  color: #0976e0; }

#title_nav {
  width: 800px;
  height: 100px; }

h1 {
  font-size: 3.25em;
  font-weight: 100;
  padding: 50px 0 10px 0;
  margin-right: 20px;
  line-height: 0.65;
  float: left; }
  h1 strong {
    font-size: 0.5em;
    font-weight: normal; }

#icons {
  float: right;
  padding: 50px 0 10px 0; }

.icon-wrapper {
  position: relative;
  float: left;
  height: 60px;
  width: 60px;
  margin: 10px 10px 12px 10px; }

.icon-wrapper-right {
  position: relative;
  float: left;
  height: 60px;
  width: 60px;
  margin: 10px 0px 12px 10px; }

.icon {
  position: absolute;
  top: 0px;
  height: 60px;
  width: 60px;
  margin: 0px;
  border-radius: 3px;
  background: #0976e0;
  cursor: pointer; }

#contact-icons {
  margin: 20px auto;
  height: 70px;
  width: 160px; }

#icon-LinkedIn {
  position: absolute;
  top: -1px;
  height: 62px;
  width: 62px;
  margin: 0px;
  border-radius: 3px;
  background: transparent;
  cursor: pointer; }

#icon-BuiltInChicago {
  position: absolute;
  top: 0px;
  height: 60px;
  width: 60px;
  margin: 0px;
  border-radius: 3px;
  background: transparent;
  cursor: pointer; }

#content-wrapper {
  overflow: hidden;
  position: relative;
  width: 800px;
  clear: both;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.content {
  position: absolute;
  width: 800px; }

.h2-nav-wrapper {
  height: 40px;
  padding: 20px 0; }

.nav-secondary {
  margin: 0 auto 20px;
  font-size: 1.35em;
  text-align: center; }
  .nav-secondary a {
    color: #0a0a0a;
    text-decoration: none; }
  .nav-secondary a:hover {
    color: #0976e0; }

.setToLeft {
  -webkit-transform: translateX(-105%);
  -moz-transform: translateX(-105%);
  transform: translateX(-105%); }

.setToCenter {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.setToRight {
  -webkit-transform: translateX(105%);
  -moz-transform: translateX(105%);
  transform: translateX(105%); }

@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-105%); } }

@-moz-keyframes moveToLeft {
  to {
    -moz-transform: translateX(-105%); } }

@keyframes moveToLeft {
  to {
    transform: translateX(-105%); } }

.content-moveToLeft {
  -webkit-animation: moveToLeft 0.8s ease both;
  -moz-animation: moveToLeft 0.8s ease both;
  animation: moveToLeft 0.8s ease both; }

@-webkit-keyframes moveToCenter {
  to {
    -webkit-transform: translateX(0); } }

@-moz-keyframes moveToCenter {
  to {
    -moz-transform: translateX(0); } }

@keyframes moveToCenter {
  to {
    transform: translateX(0); } }

.content-moveToCenter {
  -webkit-animation: moveToCenter 0.8s ease both;
  -moz-animation: moveToCenter 0.8s ease both;
  animation: moveToCenter 0.8s ease both; }

@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(105%); } }

@-moz-keyframes moveToRight {
  to {
    -moz-transform: translateX(105%); } }

@keyframes moveToRight {
  to {
    transform: translateX(105%); } }

.content-moveToRight {
  -webkit-animation: moveToRight 0.8s ease both;
  -moz-animation: moveToRight 0.8s ease both;
  animation: moveToRight 0.8s ease both; }

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-105%); }

  to {
    -webkit-transform: translateX(0); } }

@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-105%); }

  to {
    -moz-transform: translateX(0); } }

@keyframes moveFromLeft {
  from {
    transform: translateX(-105%); }

  to {
    transform: translateX(0); } }

.content-moveFromLeft {
  -webkit-animation: moveFromLeft 0.8s ease both;
  -moz-animation: moveFromLeft 0.8s ease both;
  animation: moveFromLeft 0.8s ease both; }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(105%); }

  to {
    -webkit-transform: translateX(0); } }

@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(105%); }

  to {
    -moz-transform: translateX(0); } }

@keyframes moveFromRight {
  from {
    transform: translateX(105%); }

  to {
    transform: translateX(0); } }

.content-moveFromRight {
  -webkit-animation: moveFromRight 0.8s ease both;
  -moz-animation: moveFromRight 0.8s ease both;
  animation: moveFromRight 0.8s ease both; }

@keyframes bounce {
  0% {
    top: 0px; }

  5% {
    top: -9px; }

  10% {
    top: -16px; }

  15% {
    top: -21px; }

  20% {
    top: -24px; }

  25% {
    top: -25px; }

  30% {
    top: -24px; }

  35% {
    top: -21px; }

  40% {
    top: -16px; }

  45% {
    top: -9px; }

  50% {
    top: 0px; }

  55% {
    top: -3px; }

  60% {
    top: -6px; }

  65% {
    top: -7px; }

  70% {
    top: -9px; }

  75% {
    top: -7px; }

  80% {
    top: -6px; }

  85% {
    top: -3px; }

  90% {
    top: 0px; }

  100% {
    top: 0px; } }

@-o-keyframes bounce {
  0% {
    top: 0px; }

  5% {
    top: -9px; }

  10% {
    top: -16px; }

  15% {
    top: -21px; }

  20% {
    top: -24px; }

  25% {
    top: -25px; }

  30% {
    top: -24px; }

  35% {
    top: -21px; }

  40% {
    top: -16px; }

  45% {
    top: -9px; }

  50% {
    top: 0px; }

  55% {
    top: -3px; }

  60% {
    top: -6px; }

  65% {
    top: -7px; }

  70% {
    top: -9px; }

  75% {
    top: -7px; }

  80% {
    top: -6px; }

  85% {
    top: -3px; }

  90% {
    top: 0px; }

  100% {
    top: 0px; } }

@-moz-keyframes bounce {
  0% {
    top: 0px; }

  5% {
    top: -9px; }

  10% {
    top: -16px; }

  15% {
    top: -21px; }

  20% {
    top: -24px; }

  25% {
    top: -25px; }

  30% {
    top: -24px; }

  35% {
    top: -21px; }

  40% {
    top: -16px; }

  45% {
    top: -9px; }

  50% {
    top: 0px; }

  55% {
    top: -3px; }

  60% {
    top: -6px; }

  65% {
    top: -7px; }

  70% {
    top: -9px; }

  75% {
    top: -7px; }

  80% {
    top: -6px; }

  85% {
    top: -3px; }

  90% {
    top: 0px; }

  100% {
    top: 0px; } }

@-webkit-keyframes bounce {
  0% {
    top: 0px; }

  5% {
    top: -9px; }

  10% {
    top: -16px; }

  15% {
    top: -21px; }

  20% {
    top: -24px; }

  25% {
    top: -25px; }

  30% {
    top: -24px; }

  35% {
    top: -21px; }

  40% {
    top: -16px; }

  45% {
    top: -9px; }

  50% {
    top: 0px; }

  55% {
    top: -3px; }

  60% {
    top: -6px; }

  65% {
    top: -7px; }

  70% {
    top: -9px; }

  75% {
    top: -7px; }

  80% {
    top: -6px; }

  85% {
    top: -3px; }

  90% {
    top: 0px; }

  100% {
    top: 0px; } }

.bounce {
  animation: bounce 0.65s linear 1;
  -o-animation: bounce 0.65s linear 1;
  -moz-animation: bounce 0.65s linear 1;
  -webkit-animation: bounce 0.65s linear 1; }

@keyframes wiggle {
  0% {
    left: 0px; }

  5% {
    left: 2px; }

  10% {
    left: 4px; }

  15% {
    left: 8px; }

  20% {
    left: 14px; }

  25% {
    left: 8px; }

  30% {
    left: 0px; }

  35% {
    left: -6px; }

  40% {
    left: -10px; }

  45% {
    left: -7px; }

  50% {
    left: -2px; }

  55% {
    left: 0px; }

  60% {
    left: 2px; }

  65% {
    left: 3px; }

  70% {
    left: 2px; }

  75% {
    left: 0px; }

  80% {
    left: -1px; }

  85% {
    left: -2px; }

  90% {
    left: -1px; }

  100% {
    left: 0px; } }

@-o-keyframes wiggle {
  0% {
    left: 0px; }

  5% {
    left: 2px; }

  10% {
    left: 4px; }

  15% {
    left: 8px; }

  20% {
    left: 14px; }

  25% {
    left: 8px; }

  30% {
    left: 0px; }

  35% {
    left: -6px; }

  40% {
    left: -10px; }

  45% {
    left: -7px; }

  50% {
    left: -2px; }

  55% {
    left: 0px; }

  60% {
    left: 2px; }

  65% {
    left: 3px; }

  70% {
    left: 2px; }

  75% {
    left: 0px; }

  80% {
    left: -1px; }

  85% {
    left: -2px; }

  90% {
    left: -1px; }

  100% {
    left: 0px; } }

@-moz-keyframes wiggle {
  0% {
    left: 0px; }

  5% {
    left: 2px; }

  10% {
    left: 4px; }

  15% {
    left: 8px; }

  20% {
    left: 14px; }

  25% {
    left: 8px; }

  30% {
    left: 0px; }

  35% {
    left: -6px; }

  40% {
    left: -10px; }

  45% {
    left: -7px; }

  50% {
    left: -2px; }

  55% {
    left: 0px; }

  60% {
    left: 2px; }

  65% {
    left: 3px; }

  70% {
    left: 2px; }

  75% {
    left: 0px; }

  80% {
    left: -1px; }

  85% {
    left: -2px; }

  90% {
    left: -1px; }

  100% {
    left: 0px; } }

@-webkit-keyframes wiggle {
  0% {
    left: 0px; }

  5% {
    left: 2px; }

  10% {
    left: 4px; }

  15% {
    left: 8px; }

  20% {
    left: 14px; }

  25% {
    left: 8px; }

  30% {
    left: 0px; }

  35% {
    left: -6px; }

  40% {
    left: -10px; }

  45% {
    left: -7px; }

  50% {
    left: -2px; }

  55% {
    left: 0px; }

  60% {
    left: 2px; }

  65% {
    left: 3px; }

  70% {
    left: 2px; }

  75% {
    left: 0px; }

  80% {
    left: -1px; }

  85% {
    left: -2px; }

  90% {
    left: -1px; }

  100% {
    left: 0px; } }

.wiggle {
  animation: wiggle 0.65s linear 1;
  -o-animation: wiggle 0.65s linear 1;
  -moz-animation: wiggle 0.65s linear 1;
  -webkit-animation: wiggle 0.65s linear 1; }

#content-resume div div p {
  margin: 0; }
#content-resume div p {
  font-size: 1.2em;
  margin: 30px 0px; }
#content-resume div p.award-text {
  font-size: 1.0em;
  margin: 30px 0px; }
#content-resume div ul {
  margin: 10px 0px 10px 30px; }
  #content-resume div ul li ul li {
    list-style-type: none; }
#content-resume div ol.publication-list {
  margin: 15px; }
  #content-resume div ol.publication-list li {
    margin: 10px;
    font-size: 1.0em; }

.resume-subtext {
  font-size: 16px;
  margin: 30px 0px; }

#content-science div div p {
  margin: 0; }
#content-science div p {
  font-size: 1.0em;
  margin: 30px 0px; }
#content-science div ul {
  margin: 10px 0px 10px 30px; }
  #content-science div ul li ul li {
    list-style-type: none; }

.thumbnails-wrapper {
  position: relative;
  width: 800px; }

.thumbnail {
  margin: 30px 0px;
  width: 800px;
  border-radius: 3px;
  background: transparent;
  overflow: hidden;
  position: relative; }

.thumbnail-mask {
  background: rgba(9, 118, 240, 0.95);
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; }
  .thumbnail-mask h4 {
    background: transparent;
    color: #fefefe;
    padding: 20px;
    position: relative; }
  .thumbnail-mask p {
    padding: 40px 20px;
    position: relative;
    color: #fefefe; }
  .thumbnail-mask a, .thumbnail-mask .modal-button {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer; }
    .thumbnail-mask a div, .thumbnail-mask .modal-button div {
      background: #0a0a0a;
      color: #fefefe;
      border-radius: 3px;
      padding: 0px 5px;
      position: relative; }
      .thumbnail-mask a div p, .thumbnail-mask .modal-button div p {
        text-align: center;
        padding: 10px; }

.thumbnail-mask-transparent {
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear; }
  .thumbnail-mask-transparent h4 {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px); }
  .thumbnail-mask-transparent p {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px); }
  .thumbnail-mask-transparent a, .thumbnail-mask-transparent .modal-button {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px); }
    .thumbnail-mask-transparent a div, .thumbnail-mask-transparent .modal-button div {
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: translateY(100px);
      -moz-transform: translateY(100px);
      -o-transform: translateY(100px);
      transform: translateY(100px); }

.thumbnail-mask-opaque {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  opacity: 1; }
  .thumbnail-mask-opaque h4, .thumbnail-mask-opaque p, .thumbnail-mask-opaque a, .thumbnail-mask-opaque a div, .thumbnail-mask-opaque .modal-button, .thumbnail-mask-opaque .modal-button div {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

#thumbnail-FMO {
  width: 600px;
  padding: 80px 100px; }

#thumbnail-DESMO {
  width: 480px;
  padding: 110px 160px; }

#thumbnail-ade {
  width: 300px;
  padding: 10px 250px; }

#thumbnail-genetic {
  width: 400px;
  padding: 0px 200px 40px 200px; }

#thumbnail-scaling {
  width: 500px;
  padding: 50px 150px; }

#thumbnail-qchem {
  width: 500px;
  padding: 70px 150px; }

.fake-anchor {
  color: #0a0a0a;
  text-decoration: none;
  cursor: pointer;
  text-align: center; }

.fake-anchor:hover {
  color: #0976e0; }

.backToTop {
  margin: 50px auto;
  width: 100px;
  color: #0976e0;
  text-decoration: underline;
  text-align: center;
  cursor: pointer; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(10, 10, 10, 0.7);
  height: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease; }

.modal-active {
  height: 2040px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease; }

.modal-body {
  background: #0a0a0a;
  color: #fefefe;
  height: 0px;
  width: 800px;
  margin: 300px auto;
  border-radius: 3px;
  overflow: hidden; }

.modal-body-active {
  height: 500px; }

.modal-close {
  padding: 20px 30px;
  font-size: 2em;
  cursor: pointer;
  float: right; }

.youtube {
  clear: both;
  margin: 10px auto;
  padding: 10px 160px;
  width: 640px;
  height: 360px; }

.blog-summary {
  margin: 20px 0 20px 0; }
  .blog-summary .blog-summary-title, .blog-summary .blog-summary-date {
    font-size: 1.2em;
    margin: 10px 0 0 0; }

.blog-article p {
  margin: 20px 0; }

.line {
  margin: 3px 0px;
  height: 1px;
  width: 800px;
  background-color: #0976e0; }

.superscript {
  position: relative;
  bottom: 0.4em;
  font-size: 0.8em; }

.underline {
  text-decoration: underline;
  color: #0976e0; }

.italic {
  font-style: italic; }

.hidden {
  display: none; }

.p-pad-top {
  padding-top: 10px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clear {
  clear: both; }

.spacer {
  height: 50px; }

.center {
  text-align: center; }

#PE-level-3 {
  padding: 10px 133px;
  height: 438px;
  width: 534px; }
